# Visual Studio
.vscode/
.vscode/*
.vs/
.vs/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.testlog
*.manifest

# Database files
*.sqlite
*.sql
*.dump

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo

# Backup & report files
*.bak
*.log
*.tlog
*.pid
*.seed
*.pid.lock
*.stackdump
*.vscode/
*.code-workspace

# Ignored directories
/build/
*.dSYM
*.egg-info/
*.DS_Store
.idea
.vscode

# C++
*.obj
*.o
*.so
*.exe
*.out
*.a
*.lib
*.dll
*.c
*.hpp
*.cc
*.cxx
*.hh

# gmock and gtest
gtest/
gmock/

# Build artifacts
*.obj
*.pch
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.sdf
*.ipch
*.iobj
*.idb
*.ipdb
*.ilk
*.log
*.vscode/
*.psess
*.pyproj
*.pyc
*.pyo
*.egg-info/
.Python
__pycache__/

# Others
*.recipe
*.targets
*.FileListAbsolute.txt
*.testdurations